site_name: TRIX AR/VR Documentation
site_url: https://akarsh-dhingra.github.io/trix-AR-VR/

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - toc.integrate
    - search.highlight
    - search.share
    - content.code.copy
  palette:
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

nav:
  - Home: index.md
  - Project Documentation:
      - Introduction: introduction.md
      - Objectives (SMART): objectives.md
      - Timeline: timeline.md
      - Methodology: methodology.md
      - Roles: roles.md
      - Contributions: contributions.md
      - Resources / Budget: resources.md
  - Blog:
      - By Author:
          - Akarsh: blog/akarsh.md
          - Suhani:
              - Overview: blog/suhani.md
              - From Idea to Structure: blog/2026-02-08-from-idea-to-structure.md
              - Platform Constraints: blog/2026-02-12-platform-constraints.md
          - Srishti: blog/srishti.md

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight
  - attr_list
  - toc:
      permalink: true

plugins:
  - search
  - blog
